@import url("reset.css");
@import url("utils.css");

:root {
	--main-bg-color: hsl(215, 19%, 6%);
	--primary-bg-color: hsl(248, 10%, 15%);
	--primary-green: hsl(127, 100%, 82%);
	--accent-green: hsl(169, 100%, 55%);
	--text-primary-color: hsl(248, 11%, 86%);
	--text-secondary-color: hsl(248, 7%, 53%);
}

/* Dark Theme */
body.dark {
	--main-bg-color: hsl(215, 19%, 6%);
	--primary-bg-color: hsl(248, 10%, 15%);
	--primary-green: hsl(127, 100%, 82%);
	--accent-green: hsl(169, 100%, 55%);
	--text-primary-color: hsl(248, 11%, 86%);
	--text-secondary-color: hsl(248, 7%, 53%);
}

/* Light Theme */
body.light {
	--main-bg-color: hsl(240, 13%, 95%);
	--primary-bg-color: hsl(249, 12%, 89%);
	--primary-green: hsl(151, 62%, 44%);
	--accent-green: hsl(168, 75%, 60%);
	--text-primary-color: hsl(240, 3%, 17%);
	--text-secondary-color: hsl(249, 4%, 31%);
}

@font-face {
	font-family: "Fira Code";
	font-weight: 500;
	src: url(../assets/font/FiraCode-Medium.woff) format("woff");
}

@font-face {
	font-family: "Fira Code";
	font-weight: 700;
	src: url(../assets/font/FiraCode-Bold.woff) format("woff");
}

body {
	background-color: var(--main-bg-color);
	color: var(--text-primary-color);
	font-family: "Fira Code", monospace, sans-serif;
}

header {
	background-color: var(--primary-bg-color);
	padding-block: var(--space-1);
	padding-inline: var(--space2);
	justify-content: space-between;
}

button#colour-mode {
	inline-size: var(--text-size2);
	block-size: var(--text-size2);
	padding: var(--space-3);
	background-color: var(--primary-bg-color);
	border: solid 1px var(--text-primary-color);
	border-radius: var(--space-3);
	cursor: pointer;
}

div.logo {
	font-size: var(--text-size1);
	font-weight: 700;
}

section.hero {
	margin-block-start: var(--space3);
}

h1.hero-title {
	font-size: var(--text-size3);
	text-align: center;
}

p.hero-subtext {
	color: var(--text-secondary-color);
	text-align: center;
}

main.password-generator {
	inline-size: clamp(15rem, calc(15rem + 20vw), 30rem);
}

div.password-container {
	display: flex;
	background-color: var(--primary-bg-color);
	justify-content: space-between;
	padding-inline: var(--space1);
}

p#password-field {
	font-size: var(--text-size1);
	font-weight: 700;
	flex-grow: 0;
	flex-shrink: 1;
	padding-inline-end: 0;
	overflow: scroll;
}

button#copy-password {
	background-color: var(--primary-bg-color);
	border: none;
	cursor: pointer;
	border-radius: var(--space-3);
	margin-inline-start: var(--space-1);
}

img#copy-icon {
	inline-size: clamp(1rem, var(--text-size-0), 1.5rem);
	block-size: clamp(1rem, var(--text-size-0), 1.5rem);
}

section#password-creation-form-container {
	background-color: var(--primary-bg-color);
}

form#password-form {
	display: flex;
	flex-direction: column;
}

div.character-count-label-manual {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.character-count-label-manual > label {
	font-size: var(--text-size-0);
}

input#passwordCharacterCountManual {
	text-align: center;
	background-color: var(--main-bg-color);
	inline-size: calc(var(--text-size2) + 1.5rem);
	font-size: var(--text-size1);
	padding: var(--space-4);
	color: var(--primary-green);
	border: none;
	border-radius: var(--space-2);
}

input:focus {
	outline: 2px solid var(--accent-green);
}

input#passwordCharacterCount {
    -webkit-appearance: none; /* Corrected vendor prefix */
    appearance: none;
    background: none;
    margin-block-start: var(--space1);
    inline-size: 100%;
}

/* Thumb styling for WebKit browsers (Chrome, Safari, etc.) */
input#passwordCharacterCount::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--text-primary-color);
    border: none;
    inline-size: var(--text-size1);
    block-size: var(--text-size1);
    border-radius: 50%;
    cursor: pointer;
	transform: translateY(-30%);
}

/* Thumb styling for Firefox */
input#passwordCharacterCount::-moz-range-thumb {
    appearance: none;
    background-color: var(--text-primary-color);
    border: none;
    inline-size: var(--text-size1);
    block-size: var(--text-size1);
    border-radius: 50%;
    cursor: pointer;
}

/* Track styling for WebKit browsers */
input#passwordCharacterCount::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary-green);
    height: 4px;
}

/* Track styling for Firefox */
input#passwordCharacterCount::-moz-range-track {
    appearance: none;
    background-color: var(--primary-green);
    height: 4px;
}

/* General input range styling */
input[type="range"] {
    outline: none;
}

input[type="checkbox"] {
	cursor: pointer;
	outline: none;
}

div.password-option {
	display: flex;
	align-items: center;
}

div.password-option > input {
	--webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	margin-inline-end: var(--space-1);
	margin-inline-start: 0;
	background-color: var(--text-primary-color);
	width: var(--text-size-0);
	height: var(--text-size-0);
	border-radius: var(--space-4);
}

div.password-option > input:checked {
	background-color: var(--primary-green);
}

div.password-option > input:checked::before {
	content: "✔";
	color: var(--main-bg-color);
	font-size: var(--text-size-0);
}

div.password-option > label {
	font-size: var(--text-size-0);
}

button#form-submit {
	font-weight: 700;
	background-color: var(--primary-green);
	border: none;
	cursor: pointer;
	margin-block-start: var(--space2);
	text-transform: uppercase;
	letter-spacing: 0.5ex;
}

button#form-submit:active {
	outline: var(--accent-green) solid 3px;
}

button#form-submit:hover {
	opacity: 0.8;
}
