@import url("reset.css");
@import url("utils.css");

:root {
	--main-bg-color: hsl(215, 19%, 6%);
	--primary-bg-color: hsl(248, 10%, 15%);
	--primary-green: hsl(127, 100%, 82%);
	--accent-green: hsl(169, 100%, 55%);
	--text-primary-color: hsl(248, 11%, 86%);
	--text-secondary-color: hsl(248, 7%, 53%);
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg-color: hsl(240, 13%, 95%);
		--primary-bg-color: hsl(249, 12%, 89%);
		--primary-green: hsl(151, 62%, 44%);
		--accent-green: hsl(168, 75%, 60%);
		--text-primary-color: hsl(240, 3%, 17%);
		--text-secondary-color: hsl(249, 4%, 31%);
	}
}

@font-face {
	font-family: "Fira Code";
	font-weight: 500;
	src: url(assets/font/Fira-Code-Medium.woff) format("woff");
}

@font-face {
	font-family: "Fira Code";
	font-weight: 700;
	src: url(assets/font/Fira-Code-Bold.woff) format("woff");
}

body {
	background-color: var(--main-bg-color);
	color: var(--text-primary-color);
	font-family: "Fira Code", monospace, sans-serif;
}

header {
	background-color: var(--primary-bg-color);
	padding: var(--space-1);
}

div.logo {
	font-size: var(--text-size1);
	margin-inline-start: var(--space0);
	font-weight: 700;
}

section.hero {
	margin-block-start: var(--space3);
}

h1.hero-title {
	font-size: var(--text-size2);
	text-align: center;
}

p.hero-subtext {
	color: var(--text-secondary-color);
	text-align: center;
}

main.password-generator {
	inline-size: calc(15rem + 20vw); 
}

div.password-container {
	display: flex;
	background-color: var(--primary-bg-color);
	justify-content: space-between;
}

p#password-field {
	font-size: var(--text-size1);
	flex-grow: 0;
	flex-shrink: 1;
	padding-inline-end: 0;
	overflow: scroll;
}

button#copy-password {
	background-color: var(--primary-bg-color);
	border: none;
	cursor: pointer;
	border-radius: var(--space-3);
	margin-inline-start: var(--space-1)
}

img#copy-icon {
	inline-size: var(--text-size1);
	block-size: var(--text-size1);
}

section#password-creation-form-container {
	background-color: var(--primary-bg-color);
}
