@import url("typography_spacing.css");

.stack-small > * + * {
	margin-block-start: var(--space0);
}

.stack-normal > * + * {
	margin-block-start: var(--space1);
}

.stack-large > * + * {
	margin-block-start: var(--space2);
}

.stack-universal * + * {
	margin-block-start: var(--space1);
}

.box-small {
	padding: var(--space0);
	border-radius: var(--space-1);
}

.box-normal {
	padding: var(--space1);
	border-radius: var(--space-1);
}

.box-large {
	padding: var(--space2);
	border-radius: var(--space-2);
}

[class*="center"] {
	box-sizing: content-box;
	max-inline-size: 60ch;
	margin-inline: auto;
}

.center-intrinsic {
	display: flex;
	flex-direction: column;
	align-items: center;
}

[class*="cluster"] {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

[class*="sidebar"] {
	display: flex;
	flex-wrap: wrap;
}

.sidebar-left > :first-child {
	flex-grow: 0;
}

.sidebar-left > :last-child {
	flex-grow: 1;
	flex-basis: 999;
	min-inline-size: 50%;
}

.sidebar-right > :first-child {
	flex-grow: 1;
	flex-basis: 999;
	min-inline-size: 50%;
}

.sidebar-right > :last-child {
	flex-grow: 0;
}

[class*="switcher"] {
	display: flex;
	flex-wrap: wrap;
}

[class*="switcher"] > * {
	flex-grow: 1;
}

.no-highlight {
	-webkit-user-select: none;
	user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}
